.cell {
  border: solid black;
  min-width: 100px;
  min-height: 100px;
  padding: 15px;
  font-size: 32px;
}

#board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}
